img{
	max-width: 100%;
	height: auto;
}
.img__header{
	background-image: url(../img/post-image.jpg);
	height: 100vh;
	background-size: 100%;
	background-repeat: no-repeat;
}
a img{
	max-width: 100px;
}

.header__title{
	position: relative;
	margin-top: 20%;
}
