img{
	max-width: 100%;
	height: auto;
}
.img__header{
	background-image: url(../img/post-image.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
a img{
	max-width: 100px;
}
.header__title{
	padding: 100px;
	font-size: 12vw;
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-size: 50px;
}
.arrow__icon{
	padding: 40px;
	text-align: center;
	color: white;
	font-size: 80px;
	display: block;
}
.parrafo__red{
	color: #D56C6A;
	text-decoration: none;
}
.blog__text{
	font-family: "Roboto", sans-serif;
}
.heart__icon{
	background-color: #707070;
	border: 10px solid #707070;
	color: white;
	border-radius: 100px;
}
.share__icon{
	background-color: #707070;
	border: 10px solid #707070;
	border-radius: 100px;
}
.comment_icon{
	background-color: #707070;
	border: 16px solid #707070;
	border-radius: 80px;
	color: white;
}
.comment_icon--tw{
	display: inline;
	padding: 5px;
}
.social__icon{
	padding-bottom: 4rem;
	padding-top: 3rem; 	
}
.img__nosotros{
	border-radius: 50%;
	padding: 10px;
	padding-bottom: 3rem;
	float: left;
	margin-left: 8rem;
	width: 50%;
	max-width: 100%;
	height: auto;
}
.extracto__nosotros{
	padding: 80px;
	float: right;
	padding-bottom: 3rem;
	display: inline;
}
.user__icon{
	margin-top: 10px;
	font-size: 40px;
	color: #707070;	
}
h3{
	display: inline-block;
	padding: 30px;
}
.naomi__name{
	margin-top: 6rem;
}
.contacto{
	font-style: 
}
.bg__footer{
	background-color: #121619;
}
.logo__footer{
	padding: 40px;
	max-width: 250px;
	height: 100px;
}

@media (min-width: 300px) and (max-width: 600px){
	.img__header{
		background-image: url(../img/post-image_cell.jpg);
		width: 600px;
		height: 500px;
		background-color: white;
	}
	.header__title{
		padding: 120px 20px;
		font-size: 25px;
	}
	.arrow__icon{
		font-size: 35px;
		padding: 100px;
		display: block;
	}
	.fecha__blog{
		display: inline-block;	
	}
	.blog__text{
		line-height: 2;
	}
	.parrafo__red{
		text-decoration: none;
		font-family: "Roboto", sans-serif;
		color: black;
	}
	.social__icon{
		display: contents;
		border: 1px solid #707070;
		background-color: #707070;
		margin: 5px;
	}
	.heart__icon{
		border: 1px solid #707070;
		background-color: #707070;
		padding: 10px;
		margin: 2px;
	}
	.share__icon{
		border: 1px solid #707070;
		background-color: #707070;
		padding: 10px;
		margin: 2px;
	}
	.comment_icon{
		padding-right: 100px;
		width: auto;
		margin: 2px;
	}
	.comment_icon--tw{
		display: none;
	}
	.card__nosotros{
		border-radius: 50%;
		text-align: center;
		display: block;
		width: 100%;
		padding: 10px;
	}
	.img__nosotros{
		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.extracto__nosotros{
		display: none;
	}
	.contacto{
		display: none;
	}
	.card-footer{
		padding: 60px;
	}
	.logo__footer{
		max-width: 100%;
		height: auto;
	}
	.circle__right--icon{
		padding-left: 50px;
	}
}


@media only screen and (min-width: 601px) and (max-width: 800px){
	.img__header{
		background-color: white;
	}
	.header__title{
		padding: 80px 20px;
		font-size: 40px;
	}
	.arrow__icon{
		font-size: 35px;
		padding: 40px;
		display: block;
	}
	.fecha__blog{
		padding-top: 0px;
		display: inline-block;	
	}
	.blog__text{
		line-height: 2;
	}
	.parrafo__red{
		text-decoration: none;
		font-family: "Roboto", sans-serif;
		color: black;
	}
	.social__icon{
		display: contents;
		border: 1px solid #707070;
		background-color: #707070;
		margin: 5px;
	}
	.heart__icon{
		border: 1px solid #707070;
		background-color: #707070;
		padding: 20px;
		margin: 2px;
	}
	.share__icon{
		border: 1px solid #707070;
		background-color: #707070;
		padding: 20px;
		margin: 2px;
	}
	.comment_icon{
		padding-right: 100px;
		padding-top: 10px;
		width: auto;
	}
	.comment_icon--tw{
		font-family: "Roboto", sans-serif;

	}
	.card__nosotros{
		border-radius: 50%;
		text-align: center;
		display: block;
		width: 100%;
		padding: 10px;
	}
	.img__nosotros{
		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.card-footer{
		padding: 60px;
	}
	.logo__footer{
		max-width: 100%;
		height: auto;
	}
	.circle__right--icon{
		padding-left: 50px;
		display: block;
	}
	.circle__left--icon{
		padding-left: 50px;
		display: block;
}
}
