img{
	max-width: 100%;
	height: auto;
}
.img__header{
	background-image: url(../img/post-image.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
a img{
	max-width: 100px;
}
.header__title{
	font-size: 10vw;
}
.heart__icon{
	background-color: #707070;
	border: 10px solid #707070;
	color: white;
	border-radius: 100px;
}
.share__icon{
	background-color: #707070;
	border: 10px solid #707070;
	border-radius: 100px;
}
.comment_icon{
	background-color: #707070;
	border: 10px solid #707070;
	border-radius: 100px;
}
.img__nosotros{
	border-radius: 50%;
	padding: 10px;
	float: left;
	margin-left: 8rem;
    width: 50%;
}
.extracto__nosotros{
	padding: 80px;
	float: right;
}
.user__icon{
	text-decoration: none;
	margin-top: 10px;
}
h3{
	display: inline-block;
	padding: 30px;
}
.naomi__name{
	margin-top: 6rem;
}

